@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Aeonik Font Family", "sans-serif";
  src: url("./assets/fonts/AeonikTRIAL-Regular.otf");
} */

@layer utilities {
  .my-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px 0px;
  }
}

@layer utilities {
  .my-shadow2 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px 0px;
  }
}
