@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Aeonik Font Family", "sans-serif";
  src: url("./assets/fonts/AeonikTRIAL-Regular.otf");
} */

@layer utilities {
  .my-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px 0px;
  }
}

@layer utilities {
  .my-shadow2 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px 0px;
  }
}
